{% extends 'users/template.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        {% include 'users/user_sidebar.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
           
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                
                <h1 class="h2">Provide Help(Investment) History</h1>
               
            </div>
            {% if messages %}
                <div class="row">
                    <div class="col-md-8">                        
                        {% include 'mains/messages.html' %} 
                    </div>
                </div>
            {% endif %}
            
            
            <div class="row">
                
                <div class="col-md-12">
                    <p>Hello {{customer.first_name|title}}, please find below details of your investments that we have received your mandatory 10% 
                        down payment. Visit our 
                        <a href="{% url 'support' %}">support page</a> if you notice any discrepancy.
                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Transaction_id</th>
                                <th scope="col">Receiver's Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Date</th>
                              
                                <th scope="col">Investment Status</th>
                                

                                
                            </tr>
                            </thead>
                            <tbody>
                                {% for investment in investments %}
                                   
                                    <tr>
                                        
                                        <td> {{investment.transaction_id}} </td>
                                        <td> {{investment.receiver}} </td>
                                        <td> ₦{{investment.amount}} </td>
                                        <td> {{investment.merge_date}} </td>
                                       
                                        <td> {{investment.approval_status}} </td>    
                                    
                                    </tr>
                                    
                                {% endfor %}
                                        
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <hr>
        </main>
      
    </div>
</div>



{% endblock content %}