{% extends 'users/template.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        {% include 'users/user_sidebar.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
           
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                
                <h1 class="h2">Provide Help</h1>
               
            </div>
            {% if messages %}
                <div class="row">
                    <div class="col-md-8">                        
                        {% include 'mains/messages.html' %} 
                    </div>
                </div>
            {% endif %}
            
            
            <div class="row">
                <div class="col-md-8">
                    <h4>Submit The Amount You Wish to Invest</h4>
                    <p>Hello {{customer.first_name|title}}, please note that you cannot invest an amount 
                        below the amount you invested previously. We do this to ensure our platform continues sustainably
                        to serve you better. Note also that you have
                        just 10 hours after merging to provide the help or you will be banned.
                    </p>

                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-12">
                                {{form.amount|as_crispy_field}}
                            </div>
                        </div>

                        <div class="form-row">
                            <button type="submit" class="btn btn-secondary">Save</button>
                        </div>

                    </form>
                </div>
                
            </div>

            <hr>
        </main>
      
    </div>
</div>



{% endblock content %}