{% extends 'users/template.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
           
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                
                <h1 class="h2">Enter New Password</h1>
               
            </div>
            {% if messages %}
                <div class="row">
                    <div class="col-md-8">                        
                        {% include 'mains/messages.html' %} 
                    </div>
                </div>
            {% endif %}
            

            <div class="row">
				<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                <div class="col-md-8">
					
				<form method="post">

					{% csrf_token %}
					{{form|crispy}}
					<input type="Submit" name="Update Password">
					
				</form>
                    
    
                </div>
                
            </div>

            <hr>
        </main>
      
    </div>
</div>



{% endblock content %}