{% extends 'users/template.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style type="text/css">
    #loadingmsg {
    color: black;
      background: #fff; 
      padding: 10px;
      position: fixed;
      top: 50%;
      left: 30%;
      z-index: 100;
      margin-bottom: -25%;
    
    }
    #loadingover {
    background: black;
    z-index: 99;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
  }
</style>

<div class="container-fluid">
    <div class="row">
        {% include 'users/user_sidebar.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Proof of Activation Fee Payment</h1>
            </div>

            {% if messages %}
                <div class="row">
                    <div class="col-md-8">                        
                        {% include 'mains/messages.html' %} 
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <div id='loadingmsg' style='display: none;'>Please wait...</div>
                    <div id='loadingover' style='display: none;'></div>
                </div>
            </div>
           

            <div class="row">
                <div class="col-md-12">
                    <form method="post" action=""  enctype="multipart/form-data" onsubmit=showLoading()>
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-5">
                            {{form.image|as_crispy_field}}
                            </div>
                        </div>
                       
                        
                        <button type="submit" class="btn btn-secondary">Save</button>
                    </form>
                    
                </div>
            </div>
            <hr>
        </main>
      
    </div>
</div>

<script>
    function showLoading() {
    document.getElementById('loadingmsg').style.display = 'block';
    document.getElementById('loadingover').style.display = 'block';
    }
</script>


{% endblock content %}