{% extends 'users/template.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        {% include 'users/user_sidebar.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
           
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                
                <h1 class="h2">Message Admin</h1>
               
            </div>
            {% if messages %}
                <div class="row">
                    <div class="col-md-8">                        
                        {% include 'mains/messages.html' %} 
                    </div>
                </div>
            {% endif %}
            
            
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading"> </h4>
                        <p>
                            Hello {{customer.first_name|title}}, your message will be sent to the Admin
                            along with the following details:
                            
                        </p>
                        <p>Username: {{customer.username}}</p>
                        <p>Phone Number: {{customer.phone_number}}</p> 
                        <p>Email: {{customer.email}}</p> 
                        <hr>
                        <p class="mb-0">
                            
                        </p>
                    </div>

                </div>
                <div class="col-md-6">
                    <h4 class="alert-heading">Contact Admin</h4>
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-12">
                                {{form.message|as_crispy_field}}
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
    
                </div>
                
            </div>

            <hr>
        </main>
      
    </div>
</div>



{% endblock content %}