{% extends 'users/template.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        {% include 'users/user_sidebar.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
           
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                
                <h1 class="h2">Proof of Payment</h1>
               
            </div>
            {% if messages %}
                <div class="row">
                    <div class="col-md-8">                        
                        {% include 'mains/messages.html' %} 
                    </div>
                </div>
            {% endif %}

            <div class="row">
                
                <div class="col-md-12">
                    <p>Hello {{customer.first_name|title}}, please find below details of your pending provide help payments that are due. Visit our 
                        <a href="{% url 'support' %}">support page</a> if you notice any discrepancy. Please include your username and the transaction ID when making any complaint.
                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Transaction_id</th>
                                <th scope="col">Amount Due</th>
                                
                                
                            </tr>
                            </thead>
                            <tbody>
                                {% for payment in payments %}
                                <tr>
                             
                                    <td> {{payment.transaction_id}} </td>
                                    <td> {{payment.get_help_amount}}  </td>
                                 
                                </tr>
                                {% endfor %}
                                
                                        
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <hr>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Upload Proof Of Payment </h4>
                        <p>
                           Please upload your proof of down payments here. File format must be .jpg or .png, and not 
                           more than 2mb. 
                        </p>
                        <hr>
                        
                    </div>

                </div>
                <div class="col-md-6">
                    <h4 class="alert-heading">Proof of Payment</h4>
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6">
                                {{form.transaction_id|as_crispy_field}}
                            </div> 
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                {{form.image|as_crispy_field}}
                            </div> 
                        </div>
                        
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
    
                </div>
                
            </div>

            <hr>
        </main>
      
    </div>
</div>



{% endblock content %}