{% extends 'users/template.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        {% include 'users/user_sidebar.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
           
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                
                <h1 class="h2">Get Help(Withdrawal) History</h1>
               
            </div>
            {% if messages %}
                <div class="row">
                    <div class="col-md-8">                        
                        {% include 'mains/messages.html' %} 
                    </div>
                </div>
            {% endif %}
            
            
            <div class="row">
                
                <div class="col-md-12">
                    <p>Hello {{customer.first_name|title}}, please find below details of your withdrawals that we have approved. Visit our 
                        <a href="{% url 'support' %}">support page</a> if you notice any discrepancy. Please include your username and the transaction ID when making any complaint.
                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Transaction_id</th>
                                <th scope="col">Provider's Username</th>
                                <th scope="col">Provider's Phonenumber</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Date</th>
                                <th scope="col">Proof of Payment</th>
                                <p></p>
                                
                            </tr>
                            </thead>
                            <tbody>
                                {% for withdrawal in withdrawals %}
                                    {% if withdrawal.approval_status == 'Approved' %}
                                    <tr>
                                        
                                        <td> {{withdrawal.transaction_id}} </td>
                                        <td> {{withdrawal.provider}} </td>
                                        <td> {{withdrawal.get_provider_phone}} </td>
                                        <td> ₦{{withdrawal.amount}} </td>
                                        <td> {{withdrawal.merge_date}} </td>
                                        <td> <img class="row-image" src="{{withdrawal.user_proofURL}}"> </td>
                                       
                                        
                                    
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                        
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <hr>
        </main>
      
    </div>
</div>



{% endblock content %}