{% extends 'admins/template.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      {% include 'admins/admin_sidebar.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
               
                <h1 class="h2">Activation Fee Payments</h1>
                
            </div>
            
            {% if messages %}
                <div class="row">
                    <div class="col-md-8">                        
                        {% include 'mains/messages.html' %} 
                    </div>
                </div>
            {% endif %}
             
            <hr>
             

            <div class="row">
                <div class="col-md-12"> 

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">Username</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Date Joined</th>
                                <th scope="col">Proof of Payment</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in inactive_customers %}
                                    {% if user.proof_of_activation_fee %}
                                    <tr>
                                    <td> <a href="{% url 'customer_page' user.id %}">{{user.username}} </a></td>
                                    <td> {{user.first_name}} </td>
                                    <td> {{user.last_name}} </td>
                                    <td> {{user.date_created}} </td>
                                    <td> <img  class="row-image" src="{{user.activation_proofURL}}" > </td>
                                    <td><a href="{% url 'approve_activation' user.id %}"><button type="button" class="btn btn-success btn-sm">Approve Payment</button></a></td>
                                    <td><a href="{% url 'block_user' user.id %}"><button type="button" class="btn btn-warning btn-sm">Block</button></a></td>
                                    
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                
                                    
                            </tbody>
                        </table>
                    </div>
                </div>
            
            </div>

                       
        </main>

      
    </div>
</div>



{% endblock content %}